html {
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	line-height: 1.4;
}

header {
	background-image: url(../images/glasses-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30rem;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

nav {
	font-size: 1rem;
	background-color: cadetblue;	
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	height: 1.5em;
	padding-right: 1rem;
	padding-left: 2rem;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: right;
	justify-content: space-between;
	padding: 1em 2em;
}

.mobile-nav {
	display: none;
}
