html {
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	line-height: 1.4;
}






.top {
	height: 25rem;
	background-image: url(../images/glasses-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;