
/* Universal Styles */
html {
	font-size: 18px;
	font-family: Helvetica, sans-serif;
	background-color: white;
}

body {
	line-height: 1.4;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

/* Header */

header {
	background-image: url(../images/glasses-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30rem;
	padding-top: 1rem;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	margin: .67em 0;
}

nav {
	font-size: 1rem 0;
	background-color: cadetblue;	
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav div {
	display: flex;
	align-items: center;
}

nav img {
	height: 1.5em;
	padding-left: 2rem;
	padding-right: 1rem;
}

ul {
	margin-right: 1rem;
}

ul li {
	display: inline;
	padding: 0 1rem;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: right;
	justify-content: space-between;
	padding: 1em 2em;
}

.mobile-nav {
	display: none;
}

header .flex {
	justify-content: flex-end;
}

.main-banner {
	background-color: white;
	display: inline-block;
	padding: 0.75rem 5rem;
	margin-top: 10rem;
	margin-right: -2rem;
	line-height: 2.4rem;
}

/* Supporting Sections */

.supporting {
	display: flex;
	justify-content: center;
}


/* Service Section */

.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 3rem;
	width: 5rem;
	height: 8rem;
}

.service img {
	margin-bottom: 1rem;
	width: 5rem;
}

.service img.paper-icon {
	width: 3.5rem;
}

/* Info Section */

.info {
	width: 35%;
	margin-right: 5%;
}

.info p {
	padding: 1rem 0;
}

.title {
	background-color: cadetblue;
	padding: 0.5rem 1.25rem;
	font-weight: bold;
	color: white;
	max-width: 10rem;
}

/* Footer */

footer {
	background-color: azure;
	padding: 4rem 2rem;
	display: flex;
	align-items: center;
}

footer img {
	height: 1.5rem;
	margin-left: 2rem;
	margin-right: 1rem;
}


/* Tablet Screen */

@media only screen and (max-width: 1024px) {

	header {
		height: 22rem;
		padding-top: 0;
	}

	nav.container {
		max-width: 100%;
	}

	.main-banner {
		padding: 0.75rem 4rem;
		margin-top: 5rem;
		margin-right: 2rem;
	}

	.main-banner h1 {
		line-height: 1.33rem;
	}
}

/* Phone Screen */

@media only screen and (max-width: 560px) {
	nav span {
		display: none;
	}

	nav ul {
		display: none;
	}

	.mobile-nav {
		display: block;
		text-align: center;
	}

	header {
		height: 17rem;
		background-position: 20%;
	}

	.main-banner {
		padding: 1rem auto;
		margin-top: 9rem;
		margin-right: 2rem;
	}

	.main-banner h1 {
		line-height: 1rem;
		text-align: center;
	}

	.supporting {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin-top: 3rem;
	}

	.service {
		margin-top: 3.77rem;
	}

}
